body
{
	font-family: sans-serif;
	color: darkcyan;
}
#body
{
	border: 0px solid black;
	background-color: #ababab;
	margin-left: -10px;
	margin-right: -10px;
	min-height: 1000px;
	animation-name: body;
	-webkit-animation-name: body;	

	animation-duration: 1s;	
	-webkit-animation-duration: 1s;

	animation-timing-function: ease;	
	-webkit-animation-timing-function: ease;

	visibility: visible !important;
}
@keyframes body {
	0% {
		transform: translateY(100%);
	}
	50%{
		transform: translateY(-8%);
	}
	65%{
		transform: translateY(4%);
	}
	80%{
		transform: translateY(-4%);
	}
	95%{
		transform: translateY(2%);
	}			
	100% {
		transform: translateY(0%);
	}	
}

@-webkit-keyframes body {
	0% {
		-webkit-transform: translateY(100%);
	}
	50%{
		-webkit-transform: translateY(-8%);
	}
	65%{
		-webkit-transform: translateY(4%);
	}
	80%{
		-webkit-transform: translateY(-4%);
	}
	95%{
		-webkit-transform: translateY(2%);
	}			
	100% {
		-webkit-transform: translateY(0%);
	}	
}
#header
{
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	border: 2px solid cyan;
	background-color: #dbdbdb;
	padding-left: 40px;
	font-size: 20px;
	text-shadow: 2px 2px 2px cyan;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
}
#abme
{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	margin-left: 30vw;
	margin-right: 30vw;
	border: 2px solid cyan;
	background-color: #dbdbdb;
	border-radius: 16px;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
}
#quote
{
	font-style: italic;
}
#tasks
{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	margin-left: 30vw;
	margin-right: 30vw;
	border: 2px solid cyan;
	background-color: #dbdbdb;
	border-radius: 16px;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
}
#footer
{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	margin-left: 30vw;
	margin-right: 30vw;
	border: 2px solid cyan;
	background-color: #dbdbdb;
	border-radius: 16px;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
}
a:link
{
	text-decoration: none;
}
a:hover
{
	color: cyan;
}