body
{
	font-family: sans-serif;
	color: darkcyan;
	background-image: url(background.jpg);
}
#body
{
	border: 0px solid black;
}

#header
{
	margin-top: -10px;
	border: 2px solid cyan;
	background-color: #dbdbdb;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 30px;
	font-size: 25px;
	text-shadow: 2px 2px 2px cyan;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
}
#abme
{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10vw;
	margin-right: 10vw;	
	border: 2px solid cyan;
	background-color: #dbdbdb;
	border-radius: 16px;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
	animation-name: pullup;
	-webkit-animation-name: pullup;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
}
@keyframes pullup {
	0% {
		transform: scaleY(0.1);
	}
	40% {
		transform: scaleY(1.02);
	}
	60% {
		transform: scaleY(0.98);
	}
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(0.98);
	}				
	80% {
		transform: scaleY(1.01);
	}
	100% {
		transform: scaleY(1);
	}							
}

@-webkit-keyframes pullup {
	0% {
		-webkit-transform: scaleY(0.1);
	}
	40% {
		-webkit-transform: scaleY(1.02);
	}
	60% {
		-webkit-transform: scaleY(0.98);
	}
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(0.98);
	}				
	80% {
		-webkit-transform: scaleY(1.01);
	}
	100% {
		-webkit-transform: scaleY(1);
	}		
}
#quote
{
	font-style: italic;
}
#tasks
{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10vw;
	margin-right: 10vw;	
	border: 2px solid cyan;
	background-color: #dbdbdb;
	border-radius: 16px;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
	animation-name: pullup;
	-webkit-animation-name: pullup;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
}
#footer
{
	padding: 8px;
	text-align: center;
	margin-top: 10px;
	margin-left: 10vw;
	margin-right: 10vw;	
	border: 2px solid cyan;
	background-color: #dbdbdb;
	border-radius: 16px;
	box-shadow: 6px 6px 8px -2px rgba(0,255,255,0.8);
	animation-name: pullup;
	-webkit-animation-name: pullup;	

	animation-duration: 1.1s;	
	-webkit-animation-duration: 1.1s;

	animation-timing-function: ease-out;	
	-webkit-animation-timing-function: ease-out;	

	transform-origin: 50% 100%;
	-ms-transform-origin: 50% 100%;
	-webkit-transform-origin: 50% 100%;
}
a:link
{
	text-decoration: none;
}
a:hover
{
	color: cyan;
}