body
{
	font-family: sans-serif, Helvetica, Arial;
	color: darkcyan;
	background-image: url(background.jpg);
	font-size: 22px;
	text-align: center;
	list-style-type: circle;
}
#header
{
	margin-top: -22px;
	border: 2px solid cyan;
	border-radius: 16px;
	background-color: #dbdbdb;
	margin-left: 0px;
	margin-right: 0px;
	font-size: 25px;
	text-shadow: 1px 1px 2px cyan;
	animation: slide-bck-top 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both, shadow-box-animation 1s 1.5s both, text-shadow-drop-right 1s 1.5s both;
}
#abme
{
	padding: 2px;
	margin-top: 10px;
	margin-left: 10vw;
	margin-right: 10vw;	
	border: 2px solid cyan;
	border-radius: 16px;
	background-color: #dbdbdb;
	box-shadow: 2px 6px 16px -2px rgba(0,255,255,0.8);
	animation: slide-bck-left 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both, shadow-box-animation 1s 1.5s both;
}
#quote
{
	font-style: italic;
}
#tasks
{
	padding: 6px;
	margin-top: 10px;
	margin-left: 10vw;
	margin-right: 10vw;	
	border: 2px solid cyan;
	border-radius: 16px;
	background-color: #dbdbdb;
	box-shadow: 2px 6px 16px -2px rgba(0,255,255,0.8);
	animation: slide-bck-right 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both, shadow-box-animation 1s 1.5s both;
}
#footer
{
	padding: 6px;
	margin-top: 10px;
	margin-left: 10vw;
	margin-right: 10vw;	
	border: 2px solid cyan;
	border-radius: 16px;
	background-color: #dbdbdb;
	animation: slide-bck-left 1.2s cubic-bezier(0.470, 0.000, 0.745, 0.715) reverse both, shadow-box-animation 1s 1.5s both;
}
#link1
{
	margin: auto;
	list-style-type: none;
	animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) 1s reverse both;
}
#link2
{
	margin-top: auto;
	list-style-type: none;
	animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) 1s reverse both;
}
#link3
{
	margin-top: auto;
	list-style-type: none;
	animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) 1s reverse both;
}
#link4
{
	margin-top: auto;
	list-style-type: none;
	animation: slide-out-blurred-left 0.45s cubic-bezier(0.755, 0.050, 0.855, 0.060) 1s reverse both;
}
/* -----------------------------------
 * animation keyframes section start
 * ----------------------------------*/
@keyframes shadow-box-animation {
	0% {
	 box-shadow: 2px 6px 16px -2px rgba(0,255,255,0);
	}
	100% {
	 box-shadow: 2px 6px 16px -2px rgba(0,255,255,1);
	}
}
@keyframes text-shadow-drop-right {
  0% {
    text-shadow: 6px 0 18px rgba(0,255,255,0);
  }
  100% {
    text-shadow: 1px 1px 2px rgba(0,255,255,1);
  }
}
@keyframes slide-out-blurred-left {
  0% {
    transform: translateX(0) scaleY(1) scaleX(1);
    transform-origin: 50% 50%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-1000px) scaleX(2) scaleY(0.2);
    transform-origin: 100% 50%;
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-out-blurred-top {
  0% {
    transform: translateY(0) scaleY(1) scaleX(1);
    transform-origin: 50% 0%;
    filter: blur(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-1000px) scaleY(2) scaleX(0.2);
    transform-origin: 50% 0%;
    filter: blur(40px);
    opacity: 0;
  }
}
@keyframes slide-bck-left {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(-200px);
  }
}
@keyframes slide-bck-right {
  0% {
    transform: translateZ(0) translateX(0);
  }
  100% {
    transform: translateZ(-400px) translateX(200px);
  }
}
@keyframes slide-bck-top {
  0% {
    transform: translateZ(0) translateY(0);
  }
  100% {
    transform: translateZ(-400px) translateY(-200px);
  }
}
/* -----------------------------------
 * animation keyframes end
 * ----------------------------------*/
a:link
{
	text-decoration: none;
}
a:visited
{
	color: darkcyan;
}
a:hover
{
	color: cyan;
}